<!-- Footer -->
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="footercontainer">
      © 2023 Team Awesome
    </div>
      <div class="footermenu">
        <a href="#" class="footer-link">
          <i class="fa fa-cog"></i> <span class='footer-text'>Settings </span>
        </a>
        <a href="#" class="footer-link">
          <span class='footer-text'> Log out <i class="fa fa-sign-out"></i></span>
        </a>
      </div>
  </div>
</footer>
