<header>
  <div class="logoSection">
    <a class="logo" href="/">
      <h1 class="logo">Smart To Do</h1>
    </a>
    <i class="fa-solid fa-clipboard"></i>
  </div>
  <nav>
    Hello user!
    <a class="navLinks" href="/login">Login</a>
    <a class="navLinks" href="/register">Register</a>
  </nav>

</header>
