<nav>
  <div class="nav-wrapper">
    <div class="nav-left">
      <i class="fa-solid fa-clipboard fa-bounce"></i>
      <a href="/" class="logo">Smart To-Do</a>
    </div>

    <div class="nav-right" id="nav-mobile">
      <% if(!user){ %>
      <!-- Menu for small screens -->
      <div class="mobile-menu">
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="fa-solid fa-bars"></i></a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a class="mobile-dropdowns" href="/register">Register</a></li>
          <li><a class="mobile-dropdowns" href="/login">Login</a></li>
        </ul>
      </div>
      <!-- Menu for large screens -->
      <a class="navLinks hide-on-med-and-down" href="/register">Register</a>
      <a class="navLinks hide-on-med-and-down" href="/login">Login</a>
      <% } else { %>
      <!-- Menu for small screens -->
      <div class="mobile-menu">
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="fa-solid fa-bars"></i></a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a class="mobile-dropdowns" href="/profile">My Profile</a></li>
          <li>
            <form action="/logout" method="post">
              <button class="mobile-btn" type="submit">Logout</button>
            </form>
          </li>
        </ul>
      </div>

      <form class="logout-form hide-on-med-and-down" action="/logout" method="post">
        <div class="">
          <span class="welcometext">
            Welcome,
            <span class="text-light font-weight-bold">
              <%= user.name %>!
            </span>
          </span>
          <a class="navLinks" href="/profile">My Profile</a>
          <button class="logoutbutton" type="submit">Logout <i class="fa fa-sign-out"></i></button>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</nav>
