<nav>
  <div class="nav-wrapper">
    <div class="nav-left">
      <i class="fa-solid fa-clipboard fa-bounce"></i>
      <a href="/" class="logo">Smart To-Do</a>
    </div>
    <div class="nav-right hide-on-med-and-down" id="nav-mobile">
      <% if(!user){ %>
      <!-- <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="sass.html">My Profile</a></li>
        <li><a href="badges.html">Logout</a></li>
      </ul> -->
      <a class="navLinks" href="/register">Register</a>
      <a class="navLinks" href="/login">Login</a>
      <% } else { %>
      <form class="logout-form" action="/logout" method="post">
        <div class="">
          <span class="welcometext">
            Welcome,
            <span class="text-light font-weight-bold">
              <%= user.name %>!
            </span>
          </span>
          <a class="navLinks" href="/profile">My Profile</a>
          <button class="logoutbutton" type="submit">Logout <i class="fa fa-sign-out"></i></button>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</nav>
