<section class="landing-page">
  <div class="landingtext">
    <h1>Make a list. We'll figure out the rest.</h1>
    <h2>Sign up free for Smart To-Do today... for better to-do lists. </h2>
    <br>
    <br>
    <a href="/register">
    <button class="getstartedbutton" type="submit">Start Here</button>
    </a>
    </form>
  </div>
  <div class="imggoup2">
  <!-- <img class="landingimg" src="https://img.freepik.com/free-vector/modern-check-list-illustration_79603-146.jpg?w=996&t=st=1671660684~exp=1671661284~hmac=9ef468024dc7e003f8004713e45f28903ac0744ea6b77d8cc276e8c17ef9293b"> -->
  <img class="landingimg" src="2236119.jpg">
  <!-- <img class="landingimg" src="./images/woman-checking-giant-check-list/2176773.ai"> -->

    <!-- <img class="landingimg" src="https://img.freepik.com/free-vector/giant-check-list_23-2148118331.jpg?w=996&t=st=1671663656~exp=1671664256~hmac=8eebafeb6a2113fab93e8ccb4fabd011bbe50555af42c6455c06905bc158fc74"> -->
    <p>Image by Freepik</p>
  </div>
</section>
