<section class="landing-page">
  <div class="landingtext">
    <h1>Make a list. We'll figure out the rest.</h1>
    <h2>Sign up free for Smart To-Do today... for better to-do lists. </h2>
    <br>
    <br>
    <a href="/register">
    <button class="getstartedbutton" type="submit">Let's go!</button>
    </a>
    </form>
  </div>
  <div class="imggoup2">
  <img class="landingimg" src="freepiknotepad.png">
    <p class="imglicense">Image by Freepik</p>
  </div>
</section>
