<!-- Todos page - Navigation bar -->
<section class="todo-nav">
  <div class="todo-nav-left">
    <i class="fa-solid fa-inbox"></i>
    <span>Inbox</span>
  </div>
  <form>
    <i class="fa-solid fa-magnifying-glass"></i>
    <input id="searchBox" type="text" placeholder="Search Smart To-Dos">
  </form>
  <div id="nav-categories" class="todo-nav-right">
    <i id="inbox" class="fa-solid fa-inbox"></i>
    <i id="eat" class="fa-solid fa-utensils"></i>
    <i id="read" class="fa-solid fa-book"></i>
    <i id="watch" class="fa-solid fa-film"></i>
    <i id="buy" class="fa-solid fa-basket-shopping"></i>
  </div>
</section>

<!-- Todos page - Add new task input field -->
<section class="todolist">
  <section class="todo-addTask">
    <form id="todo-form">
      <i class="fa-solid fa-plus"></i>
      <input id="newTodo" name="newTodo" type="text" placeholder="Write a new Smart To-Do">
      <input type="submit" hidden />
    </form>

    <!-- This Hidden to-do nav category appears on window resizing -->
    <div class="todo-nav-mobileview">
      <i class="fa-solid fa-inbox"></i>
      <span>Inbox</span>
    </div>

  </section>
  <section id="todos-container"></section>
</section>


