<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation | Welcome</title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <%- include('partials/_styles') %>
  <%- include('partials/_scripts') %>
  <style>
    /* .nav-left {
      padding: 0 1em;
    }

    .nav-right {
      padding: 0 1em;
    }

    nav {
      color: #fff;
      background-color: #ee6e73;
      width: 100%;
      position: fixed;
      z-index: 9999;
      height: 56px;
      line-height: 56px;
    }

    nav .nav-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    nav .brand-logo {
      position: inherit;
      color: #fff;
      display: inline-block;
      font-size: 2.1rem;
    } */



    .page-footer {
      color: #fff;
      background-color: #ee6e73;
      width: 100%;
      position: fixed;
      bottom: 0;
    }
  </style>
</head>

<body>

  <!-- Start Top Bar -->

  <nav>
    <div class="nav-wrapper">
      <div class="nav-left">
        <a href="#" class="brand-logo">Logo</a>
      </div>
      <div class="nav-right">
        <ul id="nav-mobile" class="hide-on-med-and-down">
          <li><a href="sass.html">My Profile</a></li>
          <li><a href="badges.html">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- End Top Bar -->

  <main>
    <!-- Todos -->
    <section id="todos-container"></section>

  </main>



</body>

</html>
