<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <!-- Font Awesome Icon -->
  <script src="https://kit.fontawesome.com/c33116664a.js" crossorigin="anonymous"></script>

</head>

<body>
  <%- include('partials/_header') %>

    <main class="container">

      <h1 class="loginlabel">Please Log In</h1>
      <br>
      <% if(errors) { %>
        <% for (let error in errors) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= errors[error].msg %>
              <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
          </div>
          <% } %>
            <% } %>


              <form method="POST" action="/login" class="login_form">
                <div>
                  <label for="email" class="menulabels">Email:</label>
                  <br>
                  <input type="email" name="email">
                </div>
                <br>
                <div>
                  <label for="password" class="menulabels">Password:</label>
                  <br>
                  <input type="password" name="password">
                </div>
                <br>
                <button type="submit" class="loginbutton">Login</button>
              </form>

              <p class="menulabels">
                Not a member? <a href="/register">Click Here</a>
              </p>
    </main>



</body>

</html>
