<main>
  <!-- Todos page - Navigation bar -->
  <section class="todo-view-nav">
    <div class="todo-view-nav-left">
      <i class="fa-solid fa-inbox"></i>
      <p>Inbox</p>
    </div>
    <form onsubmit="event.preventDefault()">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input id="searchBox" type="text" placeholder="Search">
    </form>
    <div class="todo-view-nav-right">
      <i class="fa-solid fa-utensils"></i>
      <i class="fa-solid fa-book"></i>
      <i class="fa-solid fa-film"></i>
      <i class="fa-solid fa-basket-shopping"></i>
    </div>
  </section>

  <!-- Todos page - Add new task input field -->
  <section class="todo-addTask">
    <form id="todo-form">
      <i class="fa-solid fa-plus"></i>
      <input id="newTodo" name="newTodo" type="text" placeholder="Add task">
      <input type="submit" hidden />
    </form>
  </section>

  <!-- Todos page - Todos container -->
  <section id="todos-container"></section>
</main>
