
.card {
  top: 6em;
  padding: 2em;
  opacity: 0.7;
  border-radius: 1em;
  height: fit-content;
  min-width: 40%;

  h4 {
    color: #635197;
  }

  input:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #458bfa;
    -webkit-box-shadow: 0 1px 0 0 #458bfa;
    box-shadow: 0 1px 0 0 #458bfa;
  }

  .input-field {
    label {
      color: inherit;
    }
  }

  .btn {
    background-color: #458bfa;

    &:hover {
      background-color: #bf4ef1;
    }
  }
}
