$logofont: 'Montserrat', sans-serif;

.landing-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;

  div {

    margin: 2em;
  }

  i {
    color: rgb(130, 93, 145);
    font-size: 10em;
  }

  .landingimg {
    width: 75vmin;
    position:relative;
    top: 3.5vw;
  }

  h1 {
    color: aliceblue;
    font-size: 2.2vw;
    font-family: $logofont;
  }

  h2 {
    color: aliceblue;
    font-size: 1.3vw;
    font-family: $logofont;
  }

}

.getstartedbutton {
  background-color: white;
  padding: .5em;
  font-size: 1.5vw;
  font-family: $logofont;
  border-radius: 25px;
  opacity: 0.7;
}

.getstartedbutton:hover {
  box-shadow: 6px 4px 9px #635197;
}


.imggoup2 {
  display:flex;
  flex-direction: column;
  color:darkslategray
}

.imglicense {
  align-self: center;
}
