// See: https://sass-lang.com/
$mainFont: 'Montserrat', sans-serif;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: $mainFont;
  display: grid;
  overflow-y: scroll;
  justify-items: center;
  background: #C9BBF2;
  color: black;
  height: 100vh;
  background: linear-gradient(86deg,
      #c74fef 0%,
      #7f3fff 45%,
      #448dfa 95%)
}

.page-footer {
  color: #fff;
  background-color: #202124;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 56px;
}
