body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background: #C9BBF2;
  background: linear-gradient(
    86deg,
    #c74fef 0%,
    #7f3fff 45%,
    #448dfa 95%
  )

//   background: linear-gradient(
//     180deg,
//     #F2BBCF 0%,
//     #C9BBF2 12%,
//     #DEBDE6 26%,
//     #E1C2FC 50%,
//     #C9BBF2 74%,
//     #E1C2FC 100%
//   );
// }
}

// Styling for main container
main.container {
  background-color: white;
  padding: 1.5em;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  border-radius: 25px;
}

main.container:hover {
  box-shadow: 6px 4px 9px #635197;
}

// Styling for login form
.login_form {
  display: flex;
  flex-direction: column;
}

// Signup and Login header styling
.signup {
  padding-bottom: 0.5em;
  color:#635197;
}

.loginlabel {
  color:#635197;
}

// Error message handling (toggles on and off)
.errMessageOff {
  display: flex;
  border: 3px solid rgb(154, 13, 41);
  border-radius: 10px;
  padding: .25em;
  justify-content:space-around;
  text-align: center;
  color: rgb(154, 13, 41);
  font-weight: bold;
  background-color:rgb(224, 133, 133);
}

// set register block width as an ID so that it is not affected by main width container
#registerblock {
  width: 30%;
}

// Spacing for login inputs
.logininput {
  margin-top: 0.2em;
}

