// Styling for main container
main.container {
  background-color: white;
  padding: 1.5em;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  // opacity: 0.7;
  border-radius: 25px;

  &:hover {
    box-shadow: 6px 4px 9px #635197;
  }
}

// Styling for login form
.login_form {
  display: flex;
  flex-direction: column;
}

// specificity for login page header
.loginlabel {
  color: #635197;
  font-size: 2em;
  margin: 0;
}

// Specificity for register page header
.registerlabel {
  color: #635197;
  font-size: 2em;
  margin: 0;
}

// Error message handling (toggles on and off)
.errMessageOff {
  display: flex;
  border: 3px solid rgb(154, 13, 41);
  border-radius: 10px;
  padding: .25em;
  justify-content: space-around;
  text-align: center;
  color: rgb(154, 13, 41);
  font-weight: bold;
  background-color: rgb(224, 133, 133);
}

// set register block width as an ID so that it is not affected by main width container (note: adjusted in mobile view)
#registerblock {
  width: 35rem;
  height: 40rem;
  margin-top: 7em;
  opacity: 0.7;
}

// set login page block width as an ID so that it is not affected by main width container (note: adjusted in mobile view)
// aligned with above registration block styling
#loginblock {
  width: 35rem;
  height: 25rem;
  margin-top: 7em;
  opacity: 0.7;
}

// Spacing for login inputs
// Also overrides ugly default box input shadow and line from framework Materialize
.logininput {
  margin-top: 0.2em;

  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

}



// Capitalizes all city names on the profile edit page
.profile_city {
  text-transform: capitalize;
}

.fa-magnifying-glass {
  color: #113a64e0;
  font-size: 1.1em;
}

.fa-plus {
  color: #113a64e0;
  font-size: 1.2em;
}

// Overrides ugly default hyperlink text from framework Materialize
.hyperlogin {
  color: #551A8B;
}

// Footer styling
.footercontainer {
  display: flex;
  align-items: center;
  padding-left: 1em;

}

.page-footer {
  padding-top: 0;
}

// Gap between footer links and direction set to vertical for footer menu
.footermenu {
  gap: .5em;
  display: flex;
  flex-direction: column;

}

.footer-link {
  padding-right: 1em;
  font-size: 1.3em;
  color: aliceblue;
}

#menulabeltext {
    display: flex;
    flex-direction: column;
}
