.spinner {
  position: fixed;
  left: 45%;
  top: 25%;
  z-index: 9999;
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgb(75 130 250);
  border-top-color: #be4df1;
  animation: 1.5s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// This styling is for the task edit popup window
#editForm {
  display: none;
  position: fixed;
  left: 50%;
  top: 27%;
  width: 65%;
  background: #202124;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  font-family: 'Montserrat';
  box-shadow: 6px 4px 9px #635197;
  padding: 0.5em 1em;

  .edit-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em .7em .7em 1em;
    border-bottom: 1px solid grey;
    font-size: 1.2em;
    font-weight: 600;
    color: aliceblue;

    label.edit-header {
      color: white;
      font-size: inherit;
    }
  }

  .edit-title {
    font-size: 1.2em;
    font-weight: 400;
    color: aliceblue;
    padding-left: .2em;
  }

  input::-webkit-input-placeholder {
    color: white;
    font-size: 1.1em;
  }

  input[type=text]:not(.browser-default) {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    font-size: 1.2em;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 2em;
  }

}

.edit-category {
  font-size: 1.2em;
  font-weight: 400;
  color: aliceblue;
}

.edit-form-main {
  padding: 1em;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .edit-todo-memo {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .edit-todo-category {
    display: flex;
    align-items: center;
    gap: 0.5em;

    .categories-dropdown {
      opacity: 10;
      background: #202124;
      border: 0;
      border-bottom: 1px;
      border-style: solid;
      color: white;
      font-size: 1.2em;
      font-family: inherit;
      padding: 0 1em;
      outline: none;
      height: 2em;
      text-align: right;
    }
  }
}

.fa-xmark {
  font-size: 1.5em;
  color: aliceblue;
  font-weight: 600;
  padding-right: 0.5em;
  cursor: pointer;

  &:hover {
    color: rgb(75 130 250);
  }
}

.edit-save {
  padding: 0.3em 1em;
  font-size: 1.1em;
  background: white;
  outline: none;
  border: none;
  border-radius: 0.3em;
}
