main {
  width: 90%;
  margin: 0 2em;
}

#todos-container {
  .todo {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid;
    margin: 1.5em 0;
    padding: 0.5em 0;
  }

  .todo-status {
    // align-self: flex-start;
    cursor: pointer;
  }

  .todo-memo {
    padding: 0 1em;
  }

  .todo-options {
    margin-left: auto;
    cursor: pointer;
  }

  .todo-category {
    margin-left: auto;
  }
}

.todo-view-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;

  .todo-view-nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form {
    display: flex;
    align-items: center;

    i {
      position: absolute;
      padding: 0.3em;
    }

    #searchBox {
      padding: 0.3em 0 0.3em 1.5em;
    }
  }

  $elements: 4;


  .todo-view-nav-right {

    @for $i from 0 to $elements {
      i:nth-child(#{$i + 1}) {
        cursor: pointer;
      }
    }

    
  }
}

.todo-addTask {
  width: 100%;

  form {
    display: flex;
    align-items: center;

    i {
      position: absolute;
      padding: 0.3em;
    }

    #newTodo {
      width: 100%;
      padding: 0.3em 0 0.3em 1.5em;

    }
  }
}
