/*
* This SCSS page is responsible for changing the styling when the resolution of the page shrinks or enlargens.
*/


/* Screen Style - Mobile/Tablet View */
@media only screen and (max-width: 1024px)  {

// This is responsible for widening the registration packground on shrinkage
#registerblock {
  width:100%;
  border-radius: none;
}


main.container {
  border-radius: 0px;
  width: 100%;
}

main {
  width: 100%;
  border-radius: none;
}

header {
  box-shadow: none;
  background-color: none;
}

// Main to-do's container sizing adjustments on variable screen size
.todolist {
  border-radius: 0px;
}

.todo-nav-right {
  border-radius: 0 25px 0  25px;
}

// Profile editing page view adjustments
.profilecontainer {
  border-radius: 0px;
  width: 100%;
}

}
